* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.main-container {
  display: flex;
}
.title {
  font-size: 30px;
}
main {
  padding: 20px;
}

.sidebar {
  background: rgb(0, 7, 61);
  color: white;
  height: 100vh;
}

/* .main-container {
  color: aqua;
  background-color: white;
} */
.top-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px;
}

.logo {
  font-size: 28px;
  line-height: 0;
}

.search {
  display: flex;
  align-items: center;
  margin: 10px 0;
  height: 30px;
  padding: 10px;
}

.search input {
  border: none;
  width: 160px;
  margin-left: 10px;
  border-radius: 5px;
  background: rgb(238, 238, 238);
}

.link {
  display: flex;
  padding: 30px;
  margin-top: 15px;
  color: white;
  gap: 20px;
  border-right: 4px solid transparent;
  /* padding: 5px 10px; */
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.search-icon {
  padding: 20px;
  transition: all 1s;
}

.search-icon:hover {
  transform: rotate(360deg);
}
.link .icon {
  transition: all 1s;
}

.link:hover .icon {
  transform: rotate(360deg);
}

.link:hover {
  border-left: 4px solid white;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  /* background: rgb(34, 50, 156); */
  background: yellowgreen;
}

.active {
  border-left: 4px solid rgb(177, 105, 143);
  background: blue;
  /* background: rgb(34, 50, 156); */
}
.link_text {
  white-space: nowrap;
}
