@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;
--gradient-text:linear-gradient(108deg,#46d3ff .14%,#6178ff 24.02%,#a750ff 39.05%,#ff1ec0 56.82%,#ff784b 77.82%,#ffce51 95.45%);
--gradient-bar:linear-gradient(108deg,#2c056b .14%,#2E3192 24.02%,#a750ff ); 
/* --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%); */
  /* --gradient-bar:  linear-gradient(89.97deg, #240b36 1.84%,  #c31432 102.67%); */
  --gradient-bar2: linear-gradient(103.22deg, #2c056b -13.86%, #7e54f9 );
  
  --color-bg: linear-gradient(89.97deg, #0f0c29 1.84%, #302b63 102.67%,#24243e);
  --color-footer : #031B34;
  --color-blog: #042c54;
  --color-text: #031B34;
  --color-subtext: #ffffff;
  /* --color-subtext: #FF8A71; */
}
